<% include ../partials/header.ejs %>


<div class="container">

    <h1 class="text-center">Edit <%= campground.name %> </h1>
    <div class="form-new-camp">

        <form class="my-3" action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
            <input class="form-control m-2" type="text" value="<%= campground.name %>" name="campground[name]">
            <input class="form-control m-2" type="number" value="<%= campground.price %>" name="campground[price]" min="0.1" step="0.1">
            <input class="form-control m-2" type="url" value="<%= campground.image %>" name="campground[image]">
            <input class="form-control" type="text" name="location" id="location" value="<%= campground.location %>">
            <textarea class="form-control m-2" name="campground[description]" cols="30" rows="3"> 
                <%= campground.description %> 
            </textarea>
            <button class="m-2 btn btn-lg btn-block btn-primary" type="submit">Submit</button>
        </form>

        <a href="/campgrounds/<%= campground._id %>/ ">Go back</a>
    </div>

</div>


<% include ../partials/footer.ejs %>