<% include ../partials/header.ejs %>



<div class="container">
    <div class="row">

        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-grou-item active">Link 1</li>
                <li class="list-grou-item">Link 2</li>
                <li class="list-grou-item">Link 3</li>
            </div>
            <div id="map"></div>
        </div>

        <div class="col-md-9"> 
            <div class="camps-container thumbnail">
                
                <img class="img-responsive" src="<%= campground.image %>" alt="<%= campground.name %>">
                
                <div class="caption-full">
                    <h4 class="pull-right">$<%= campground.price %>/night</h4>
                    <h1> <%= campground.name %> </h1>
                    <p> <%= campground.description %> </p>
                    <p>
                        <em>Added by: <a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a>, <%= moment(campground.createdAt).fromNow() %></em>
                    </p>
                </div>
                
                <div class="well">
                    <% if(currentUser) { %>
                    <div class="text-right">
                        <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success">Add a comment</a>
                        <% if(campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                        <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-warning">Edit</a>
                        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        <% } %>
                    </div>
                    <% } %>

                    <hr>

                    <% campground.comments.forEach(function(comment){ %>
                        <div class="row">
                            <div class="col-md-12">
                                <strong><%= comment.author.username %></strong>
                                <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                                <p><%= comment.text %></p>
                                <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                                <a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit" class="btn btn-sm btn-warning">Edit</a>
                                <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                                </form>
                                <% } %>
                            </div>
                        </div>
                    <% }) %>
                </div>
                
            </div>     
        </div>

    </div>
</div>

<!-- script for showing google maps -->
<script>
    function initMap() {
        var lat = <%= campground.lat %>;
        var lng = <%= campground.lng %>;
        var center = { lat: lat, lng: lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });
        var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function () {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7yoms2R5bM4UOq_QmLu45AD_lYCXLC4c&callback=initMap"
    type="text/javascript"></script>

<% include ../partials/footer.ejs %>