<% include ../partials/header.ejs %>




<div class="container">
    <div class="row">

        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-grou-item active">Link 1</li>
                <li class="list-grou-item">Link 2</li>
                <li class="list-grou-item">Link 3</li>
            </div>
        </div>

        <div class="col-md-9"> 
            <div class="camps-container thumbnail">
                
                <img class="img-responsive" src="<%= campground.image %>" alt="<%= campground.name %>">
                
                <div class="caption-full">
                    <h4 class="pull-right">$9.00/night</h4>
                    <h1> <%= campground.name %> </h1>
                    <p> <%= campground.description %> </p>
                    <p>
                        <em>Added by: <%= campground.author.username %> </em>
                    </p>
                </div>
                
                <div class="well">
                    <% if(currentUser) { %>
                    <div class="text-right">
                        <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success">Add a comment</a>
                        <% if(campground.author.id.equals(currentUser._id)) { %>
                        <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-warning">Edit</a>
                        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        <% } %>
                    </div>
                    <% } %>

                    <hr>

                    <% campground.comments.forEach(function(comment){ %>
                        <div class="row">
                            <div class="col-md-12">
                                <strong><%= comment.author.username %></strong>
                                <span class="pull-right">10 days ago</span>
                                <p><%= comment.text %></p>
                                <a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit" class="btn btn-sm btn-warning">Edit</a>
                                <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                                </form>
                            </div>
                        </div>
                    <% }) %>
                </div>
                
            </div>     
        </div>

    </div>
</div>


<% include ../partials/footer.ejs %>