<% include ../partials/header-campground %>
<!-- using header-campground.ejs / campground.css -->


<div class="campground-container">
    <div class="row">

        <div class="col-md-3">
            <h3>Information</h3>
            <div class="list-group">
                <li class="list-grou-item active"><a href="/campgrounds/<%= campground._id %>">Description</a></li>
                <li class="list-grou-item"><a href="#">Photos</a></li>
                <li class="list-grou-item"><a href="/users/<%= campground.author.id %>">About</a></li>
            </div>
            <div id="map" class="mt-2"></div>
        </div>

        <div class="col-md-9"> 
            <div class="camps-container thumbnail">
                
                <img class="img-responsive" src="<%= campground.image %>" alt="<%= campground.name %>">
                
                <div class="camp-show-content">
    
                    <div class="caption-full">
                        <div class="camp-show nav">
                            <% if(currentUser) { %>
                            <% if(campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                            <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-warning mr-2">Edit</a>
                            <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                            <% } %>
                            <% } %>
                            <h4 class="camp-show-price">$<%= campground.price %>/night</h4>
                        </div>
                    
                        <h1> <%= campground.name %> </h1>
                        <hr>
                        <p class="camp-show-text"> <%= campground.description %> </p>
                        <p class="camp-show-author">
                            <em>Added by: <a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a>,
                                <%= moment(campground.createdAt).fromNow() %></em>
                        </p>
                    </div>
                    
                    <div class="well">
                        <% if(currentUser) { %>
                        <div class="text-right">
                            <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success">Add a comment</a>
                        </div>
                        <% } %>
                        <% if(campground.comments.length > 0) { %>
                            <hr class="mb-5">
                        <% } %>
                    
                        <% campground.comments.forEach(function(comment){ %>
                        <div class="row comment-container">
                            <div class="col-8">
                                <em><strong><%= comment.author.username %></strong></em>
                                <em><span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span></em>
                                <p class="mt-3"><%= comment.text %></p>
                            </div>

                            <div class="col-4">
                                <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                                <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                                </form>
                                <a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit"
                                    class="btn btn-sm btn-warning mr-sm-2 mr-1">Edit</a>
                                <% } %>
                            </div>

                        </div>
                        <% }) %>
                    </div>


                </div>                
            </div>     
        </div>

    </div>
</div>

<!-- script for showing google maps -->
<script>
    function initMap() {
        var lat = <%= campground.lat %>;
        var lng = <%= campground.lng %>;
        var center = { lat: lat, lng: lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });
        var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function () {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GEOCODE_API_URL %>&callback=initMap"
    type="text/javascript"></script>

<% include ../partials/footer.ejs %>