<% include ../partials/header-campground %>
<!-- using header-campground.ejs / campground.css -->


<div class="background">
    <div class="row">

        <!-- information links + google map -->
        <div class="col-md-3 campground-map order-sm-2 order-md-1">
            <h3>Information</h3>
            <div class="list-group">
                <li class="list-grou-item active"><a href="/campgrounds/<%= campground._id %>">Description</a></li>
                <li class="list-grou-item"><a href="#">Photos</a></li>
                <li class="list-grou-item"><a href="/users/<%= campground.author.id %>"><%= campground.author.username.substring(0, 7) %> profile</a></li>
            </div>
            <div id="map" class="mt-2"></div>
        </div>
        <!-- campground info + comments -->
        <div class="col-md-9 order-sm-1 order-md-2"> 
            <div class="campground thumbnail">
                
                <img class="img-responsive" src="<%= campground.image %>" alt="<%= campground.name %>">
                
                <!-- campground/comment content -->
                <div class="campground-content">
                    <!-- campground section -->
                    <div class="caption-full">

                        <!-- campground control -->
                        <div class="nav">
                            <% if(currentUser) { %>
                                <% if(campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                                <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-warning mr-2">Edit</a>
                                <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                                <% } %>
                            <% } %>
                            <h4 class="campground-price">$<%= campground.price %>/night</h4>
                        </div>
                        <h1 class="mt-4"> <%= campground.name %> </h1>
                        <div class="hidden">
                            <hr class="mt-5">
                            <div class="campground-hidden-header">
                                <li class="list-grou-item active"><a>Photos</a></li>
                                <li class="list-grou-item"><a href="#">Map</a></li>
                                <li class="list-grou-item">
                                    <a href="/users/<%= campground.author.id %>">Author</a>
                                </li>
                            </div>
                        </div>
                        <!-- campground text -->
                        <hr class="my-3">
                        <p class="campground-text"> <%= campground.description %> </p>

                    </div>
                    <!-- campground footer (after text) -->
                    <div class="d-flex" style="justify-content: space-between; flex-direction: row;">
                        <p class="campground-author">
                            <em>Added by: <a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a>,
                                <%= moment(campground.createdAt).fromNow() %></em>
                        </p>
                        <% if(currentUser) { %>
                        <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success">Add a comment</a>
                        <% } %>

                    </div>
                    
                    <!-- comment section -->
                    <div class="well">
                        <!-- separate line -->
                        <% if(campground.comments.length > 0) { %>
                            <hr class="mb-4">
                        <% } %>
                    
                        <% campground.comments.forEach(function(comment){ %>
                        <div class="row comment">
                            <!-- comment text -->
                            <div class="col-8">
                                <em><strong><%= comment.author.username %></strong></em>
                                <em><span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span></em>
                                <p class="mt-3"><%= comment.text %></p>
                            </div>
                            <!-- comment control -->
                            <div class="col-4">
                                <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                                <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                                </form>
                                <a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit"
                                    class="btn btn-sm btn-warning mr-sm-2 mr-1">Edit</a>
                                <% } %>
                            </div>

                        </div>
                        <% }) %>
                    </div> <!--close comment-->


                </div> <!--close camp./comment-->
            </div>     
        </div> <!--close camp. info-->

    </div>
</div>

<!-- script for showing google maps -->
<script>
    function initMap() {
        var lat = <%= campground.lat %>;
        var lng = <%= campground.lng %>;
        var center = { lat: lat, lng: lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });
        var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function () {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GEOCODE_API_URL %>&callback=initMap"
    type="text/javascript"></script>

<% include ../partials/footer.ejs %>